/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
}

/* Main container */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  color: #003049;
}

/* Profile Image */
.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(0, 48, 73);
  margin-bottom: 20px;
}

/* Headings */
h1 {
  font-size: 26px;
  margin-bottom: 10px;
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 30px;
}

/* Links */
.links a {
  display: block;
  background-color: rgba(0, 48, 73);
  color: white;
  text-decoration: none;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: background 0.3s ease;
}

.links a:hover {
  background-color: rgb(92, 225, 230);
}

/* Logo Image */
.logo-img {
  bottom: 50px;
  right: 0;
  width: 150px;
}

.footer {
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(0, 48, 73);
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.footer a:hover {
  color: #ccc;
}
