/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importing KORA web fonts */
@import url(https://db.onlinewebfonts.com/c/9366bd460113d8bf675fd2bdfe1ce764?family=The+Seasons);

@font-face {
    font-family: "The Seasons";
    src: url("https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.eot");
    src: url("https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.svg#The Seasons")format("svg");
}


:root{
  --kora-blue-dark: #13545d;
    --kora-blue-mid: #2e958c;
    --kora-blue-light: #99d0d3;
    --kora-orange-light: #fce0d5;
    --kora-black: #000000;
    --kora-violet-gray: #c8c3c9;
}

body, html {
  height: 100%;
  background-color: #99d0d3;
  font-family: "The Seasons";
}

/* Main container */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  color: rgb(19, 84, 93);
}

/* Profile Image */
.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(19, 84, 93);
  margin-bottom: 20px;
}

/* Headings */
h1 {
  font-size: 26px;
  margin-bottom: 10px;
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 30px;
}

/* Links */
.links a {
  display: block;
  background-color: rgba(19, 84, 93);
  color: white;
  text-decoration: none;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: background 0.3s ease;
}

.links a:hover {
  background-color: #2e958c;
}

/* Logo Image */
.logo-img {
  bottom: 50px;
  right: 0;
  width: 100px;
}

.footer {
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #13545d;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.footer a:hover {
  color: #ccc;
}
